{% extends "layout.html" %}

{% block title %}
    Educación
{% endblock %}

{% block header %}
<h1>Educación</h1>
{% endblock %}

{% block main %}
    <table>
        <tr>
            <th>Escuela</th>
            <th>Grado</th>
        </tr>
        <tr>
            <th><a href="https://maps.app.goo.gl/ezaGHPxeub7s1Ucq6">Escuela Central Río Cuarto</a></th>
            <th>1° - 5°</th>
        </tr>
        <tr>
            <th><a href="https://maps.app.goo.gl/RwcJKEhLN8QisBS99">Instituto Educativo de Formación Integral Montecarlo</a></th>
            <th>6° - 8°</th>
        </tr>
        <tr>
            <th><a href="https://colegiodiocesano.cr/">Colegio Diocesano Padre Eladio Sancho</a></th>
            <th>9° - ?°</th>
        </tr>
    </table>

    <h1>Cursos</h1>
    <a href="https://cs50.harvard.edu/x/2023">CS50x • Harvard (2023)</a><br>

    <h1>Concursos</h1>
    <a href="https://drive.google.com/file/d/14LY8AhO2uT7t1yDGUKUNu3cMj8LE1q5t/view">Olimpiada Costarricense de Informática 🥈 (2023)</a><br>
    <a href="https://www.iberoinformatica.org/results/2024/Costa%20Rica">Olimpiada Iberoamericana de Informática (119)🏅 (2024)</a><br>


    <br><br><a href="/">Proyectos...</a>
{% endblock %}
