{% extends "layout.html" %}

{% block title %}
  Más
{% endblock %}

{% block main %}
  <p>
    <b>Excel:</b>
    <ul>
      <li>ExcelForms</li> 
      <li>Tank Volume</li>
    </ul>

    <b>Godot:</b>
    <ul>
      <li>baldiOnline</li>
      <li>Fire in the hole</li>
      <li>home-buffet</li>
      <li>Lechonk</li>
      <li>RPSBattle</li>
      <li>Target</li>
    </ul>

    <b>Python:</b>
    <ul>
      <li>BlenderFolders</li>
      <li>NameneratorProyects</li>
      <li>RobloxBots</li>
    </ul>

    <b>Tools:</b>
    <ul>
      <li>AltGr</li>
      <li>atlas2image</li>
      <li>BeeReadMe</li>
      <li>SeeMyRank</li>
    </ul>

    <b>Web:</b>
    <ul>
      <li>tileset-asembler</li>
      <li>video</li>
    </ul>
  </p>

  <a href="/">Menos...</a>
{% endblock %}